doctype html
html
  head
    title mah
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    link(rel="stylesheet", href="/css/lib/bootstrap.min.css")
    link(rel="stylesheet", href="/css/lib/flat-ui.css")
    link(rel="stylesheet", href="/css/layout.css")
    link(rel="stylesheet", href="/css/index.css")
    script(src="/js/vue.js")
    script(src="/js/underscore.js")
  body
    block content
